.rtc-home .text-vertical-center h1,
.rtc-home .text-vertical-center h2{
    background: rgb(255,255,255, 0.7); /* Fall-back for browsers that don' support rgba */
    background: rgba(255,255,255, 0.7);
    margin-top: 0;
}

.rtc-home .header .img-circle{
    border-radius: 0;
    vertical-align: inherit;
}

#menu-toggle,
#about {
    display: none;
}
